In [2]:
import re

In [7]:
script1 = "komal patel is a Genius. komal learns to code"
re.match("code$",script1)

In [2]:
import pandas as pd
import numpy as np

In [7]:
s = pd.DataFrame({"A":[12,34,56,34,34],
                "B":[25,12,34,34,34]})

In [9]:
s["A"].unique()

array([12, 34, 56], dtype=int64)

In [24]:
m = pd.DataFrame({"v":[]})
m["v"] = s["A"].unique()

In [25]:
m[["v"]]

    v
0  12
1  34
2  56