In [3]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.DataFrame({
    "salary":[12000,32000,32232,12000,20000,12000]
})

In [5]:
df1

   salary
0   12000
1   32000
2   32232
3   12000
4   20000
5   12000

In [7]:
df1.rank(method = "dense",ascending = False)

   salary
0     4.0
1     2.0
2     1.0
3     4.0
4     3.0
5     4.0