In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'name': ['John', 'Alice', 'Bob', 'Emily'],
    'age': [30, 25, 35, 28],
    'salary': [50000, 60000, 70000, 55000]
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

    name  age  salary
0   John   30   50000
1  Alice   25   60000
2    Bob   35   70000
3  Emily   28   55000

In [4]:
type(df["name"])

pandas.core.series.Series

In [6]:
type(df[["name"]])

pandas.core.frame.DataFrame

In [7]:
df["name"].unique()

array(['John', 'Alice', 'Bob', 'Emily'], dtype=object)

In [9]:
df[["name"]].max()

name    John
dtype: object

In [10]:
series = df["name"]

In [12]:
type(series)

pandas.core.series.Series

In [15]:
series

0     John
1    Alice
2      Bob
3    Emily
Name: name, dtype: object

In [17]:
series

0     John
1    Alice
2      Bob
3    Emily
Name: name, dtype: object

In [18]:
df = pd.DataFrame({series.name:series.values})

In [19]:
df

    name
0   John
1  Alice
2    Bob
3  Emily

In [24]:
s = pd.Series(data = [1,2,3,4,5,6,7], name = "A")

In [25]:
s.index

RangeIndex(start=0, stop=7, step=1)

In [28]:
s.values

array([1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [32]:
f = pd.Series({"S":[12,23,2,3]})

In [34]:
f.values[0]

[12, 23, 2, 3]