In [6]:
import pandas as pd
import numpy as np
import json

In [7]:
with open("package.json") as jsonfile:
    data = json.load(jsonfile)
#     df = pd.DataFrame([data])

In [11]:
data

{'name': 'node-convict',
 'private': True,
 'scripts': {'test': 'jest',
  'posttest': 'npm run lint',
  'pretest:ci': 'npm run lint',
  'test:ci': 'npm run test:coverage -- --coverageReporters=text-lcov | coveralls',
  'test:coverage': 'jest --coverage',
  'lint': "eslint --ignore-pattern='!.*.js' .",
  'lint:fix': "eslint --fix --ignore-pattern='!.*.js' ."},
 'workspaces': ['packages/convict',
  'packages/convict-format-with-validator',
  'packages/convict-format-with-moment'],
 'devDependencies': {'@lerna-lite/cli': '1.1.1',
  'coveralls': '^3.1.0',
  'deep-object-diff': '^1.1.0',
  'eslint': '^7.26.0',
  'jest': '^26.6.3',
  'js-yaml': '^4.1.0',
  'json5': '^2.2.0',
  'toml': '^3.0.0'}}

In [13]:
data["scripts"]

{'test': 'jest',
 'posttest': 'npm run lint',
 'pretest:ci': 'npm run lint',
 'test:ci': 'npm run test:coverage -- --coverageReporters=text-lcov | coveralls',
 'test:coverage': 'jest --coverage',
 'lint': "eslint --ignore-pattern='!.*.js' .",
 'lint:fix': "eslint --fix --ignore-pattern='!.*.js' ."}

In [20]:
print([data])

[{'name': 'node-convict', 'private': True, 'scripts': {'test': 'jest', 'posttest': 'npm run lint', 'pretest:ci': 'npm run lint', 'test:ci': 'npm run test:coverage -- --coverageReporters=text-lcov | coveralls', 'test:coverage': 'jest --coverage', 'lint': "eslint --ignore-pattern='!.*.js' .", 'lint:fix': "eslint --fix --ignore-pattern='!.*.js' ."}, 'workspaces': ['packages/convict', 'packages/convict-format-with-validator', 'packages/convict-format-with-moment'], 'devDependencies': {'@lerna-lite/cli': '1.1.1', 'coveralls': '^3.1.0', 'deep-object-diff': '^1.1.0', 'eslint': '^7.26.0', 'jest': '^26.6.3', 'js-yaml': '^4.1.0', 'json5': '^2.2.0', 'toml': '^3.0.0'}}]

In [22]:
df = pd.DataFrame([data])

In [23]:
df

,name,private,scripts,workspaces,devDependencies
0,node-convict,True,"{'test': 'jest', 'posttest': 'npm run lint', '...","[packages/convict, packages/convict-format-wit...","{'@lerna-lite/cli': '1.1.1', 'coveralls': '^3...."

### Using pd.json_normalize() function

In [25]:
pd.json_normalize([data])

,name,private,workspaces,scripts.test,scripts.posttest,scripts.pretest:ci,scripts.test:ci,scripts.test:coverage,scripts.lint,scripts.lint:fix,devDependencies.@lerna-lite/cli,devDependencies.coveralls,devDependencies.deep-object-diff,devDependencies.eslint,devDependencies.jest,devDependencies.js-yaml,devDependencies.json5,devDependencies.toml
0,node-convict,True,"[packages/convict, packages/convict-format-wit...",jest,npm run lint,npm run lint,npm run test:coverage -- --coverageReporters=t...,jest --coverage,eslint --ignore-pattern='!.*.js' .,eslint --fix --ignore-pattern='!.*.js' .,1.1.1,^3.1.0,^1.1.0,^7.26.0,^26.6.3,^4.1.0,^2.2.0,^3.0.0

## Lets take a json file

In [29]:
with open("data.json") as js:
    data = json.load(js)
data

{'One': {'0': 60, '1': 60, '2': 60, '3': 45, '4': 45, '5': 60},
 'Two': {'0': 110, '1': 117, '2': 103, '3': 109, '4': 117, '5': 102}}

In [30]:
df = pd.DataFrame(data)

In [31]:
df

   One  Two
0   60  110
1   60  117
2   60  103
3   45  109
4   45  117
5   60  102

In [34]:
df2 = pd.read_json("data.json")

In [35]:
df2

   One  Two
0   60  110
1   60  117
2   60  103
3   45  109
4   45  117
5   60  102

In [38]:
pd.json_normalize(data)

,One.0,One.1,One.2,One.3,One.4,One.5,Two.0,Two.1,Two.2,Two.3,Two.4,Two.5
0,60,60,60,45,45,60,110,117,103,109,117,102